:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "chat-messages" 
    "chat-form";
  row-gap: 1em;
  height: calc(calc(100vh - 46px - 32px - 32px) * 0.95);
}

.message-list-wrapper {
  grid-area: chat-messages;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.45);
  padding: 1em 1.4em 0em;
  overflow-y: auto;
}

message-form {
  grid-area: chat-form;
}

@media only screen and (min-width: 500px) {
  :host {
    height: calc(calc(100vh - 46px - 32px - 32px) * 0.87);
  }
}