:host {
  display: block;
  height: 100%;
}

header {
  text-align: center;
  padding: 12px;
  background-color: #777;
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  margin: 1rem auto 0 auto;
  width: 95%;
}

main {
  background-color: #555;
  padding: 2em;
  border: 2px solid #ddd;
  border-radius: 10px 0 10px 0;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 500px) and (min-height: 500px) {
  .container {
    margin-top: 2rem;
  }
}