:host {
  display: block;
  height: 100%;
}

header {
  text-align: center;
  padding: 12px;
  background-color: #777;
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  margin: 2rem auto 0 auto;
  width: 80%;
  /* height: calc(100% - 46px - 32px);  */
}

main {
  background-color: #555;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px 0 10px 0;
  height: 100%;
}




